*{
    font-family: "Ubuntu Condensed";
    font-weight: bold;
}

/* General */

QMainWindow{
    background-color: #686868;
}

/* General Text */

QLabel{
    color: #FFF;
    font-weight: bold;
    font-size: 18px;
    qproperty-wordWrap: true;
}

#xsmall_text{
    font-size: 24px;
    qproperty-alignment: AlignCenter;
}

#small_text{
    font-size: 26px;
    qproperty-alignment: AlignCenter;
}

#medium_text{
    font-size: 30px;
    qproperty-alignment: AlignCenter;
}

#large_text{
    font-size: 45px;
    qproperty-alignment: AlignCenter;
}

#huge_text{
    font-size: 50px;
    qproperty-alignment: AlignCenter;
}

/* Text Entry */
QLineEdit{
    background: #fff;
    color: #000;
    padding: 5px;
    border: 1px solid #fff;
    border-radius: 5px;
    font-size: 30px;
}

QPlainTextEdit{
    background: transparent;
    border: 0;
    color: #fff;
}

/* Button Style */

QPushButton{
    border-radius: 10px;
    border: 3px outset #6E6E6E;
    background: #093;
    color: #FFF;
    font-size: 30px;
    outline: none;
}

QPushButton:pressed{
    background: #4A4A4A;
    border-color: #4A4A4A;
    border-style: inset;
}

QPushButton:checked{
    background: #4A4A4A;
    border-color: #4A4A4A;
    border-style: inset;
}

QPushButton:disabled{
    background: #A1A1A1;
}

/* GUI Objects */

StrengthSymbol{
    color: #fff;
    background: transparent;
}

CoreFrame, DataBox, AConfigFrame, #box_frame, #cbox_sub{
    background-color: #000;
    border: 3px solid #093;
    border-radius: 10px;
}

DataBox QLabel{
    color: #fff;
}

DataBox #db_title{
    qproperty-alignment: AlignCenter;
    qproperty-wordWrap: true;
}

DataBox #db_value{
    qproperty-alignment: 'AlignLeft | AlignVCenter';
}

#box_title{
    font-size: 28px;
    qproperty-alignment: AlignCenter;
}

/* Dialogs */

KeyboardDialog QLineEdit{
    font-size: 30px;
    qproperty-alignment: AlignLeft;
}

KeyboardDialog QLabel{
    font-size: 40px;
    qproperty-alignment: AlignCenter;
}

CalibrationDialog QLabel{
    font-size: 35px;
    qproperty-alignment: AlignCenter;
    qproperty-wordWrap: true;
}

SliderButtonDialog QLabel{
    font-size: 35px;
    qproperty-alignment: AlignCenter;
}

#AlertDialog_text{
    color: #fff;
    qproperty-alignment: AlignCenter;
    qproperty-wordWrap: true;
    font-size: 30px;
}

/* Top Notification Bar */

NotificationBar{
    background-color: #000;
}

NotificationBar QLabel{
    padding-left: 2px;
    padding-right: 2px;
    font-size: 24px;
}

#nb_joystick{
    background-color: #F00;
    padding: 5px;
}

#nb_body{
    background-color: #00F;
}

/* Operator View - Top Information area */

#main_db1 #db_title, #main_db2 #db_title{
    font-size: 26px;
}

#main_db1 #db_value,#main_db2 #db_value{
    font-size: 45px;
    qproperty-alignment: AlignCenter;

}

#units{
    font-size: 32px;
    qproperty-alignment: 'AlignLeft | AlignVCenter';
}

/* Operator View - Message Area */

MessageBox{
    color: #F00;
    font-size: 32px;
    font-weight: bold;
    background-color: #FFF;
    border: 1px solid #FFF;
    border-radius: 10px;
}

/* Operator View - Bottom spreader text */

#mos_info_bar{
    background-color: #000;
}

#mos_info_bar QLabel{
    color: #fff;
    qproperty-alignment: AlignCenter;
    font-size: 28px;
}

/* Operator View - Controls */

ControlText{
    color: #fff;
    qproperty-alignment: AlignCenter;
    font-size:70px;
    qproperty-smallFontSize: 35;
}

#cbox_sub ControlText{
    font-size: 45px;
    qproperty-smallFontSize: 20;
}

ControlArrow{
    color: #fff;
    qproperty-alignment: AlignCenter;
    font-size: 40px;
}

#left_arrow{
    background: #E00;
}

#right_arrow{
    background: #093;
}

/* System Data View */
#dview_box #db_value, #dview_box #db_title{
    font-size: 28px;
}

#dv_truckid{
    font-size: 45px;
    qproperty-alignment: 'AlignLeft | AlignVCenter';
}

/* Configuration Menu Navigation Bar */
#configMenu{
    background-color: #000000;
    font-size: 27px;
    color: #fff;
    border: 0;
    padding: 20px 3px 0 3px;
}

#configMenu::item{
    border: 1px outset #6E6E6E;
    background: #093;
    padding: 7px 0 7px 0;
    margin: 3px 5px 0 0;
    border-radius: 5px;
}

#configMenu::item:selected{
    background-color: #FF0000;
}

/* Configuration General */
#cfg_title QLabel{
    font-size: 40px;
}

#cfg_labels{
    border-color: #093;
    border-style: solid;
    border-right-width: 3px;
}

#cfg_labels QLabel{
    qproperty-alignment: 'AlignRight | AlignVCenter';
    font-size: 30px;
    margin-right: 5px;
}

#mod_title{
    font-size: 30px;
    qproperty-alignment: AlignCenter;
    text-decoration: underline;
}

#mod_data{
    font-size: 25px;
    qproperty-alignment: 'AlignLeft | AlignTop';
}

#profile_name{
    font-size: 30px;
    qproperty-alignment: AlignCenter;
}


#cfg_textitem{
    font-size: 30px;
    qproperty-alignment: 'AlignLeft | AlignVCenter';
}

#wifi_item QLabel{
    font-size: 30px;
    qproperty-alignment: AlignCenter;
}

#cfg_versions{
    border-color: #093;
    border-style: solid;
    border-left-width: 3px;
}

/* Sensor status View */
#diag_data #db_title{
    font-size: 28px;
    padding: 3px;
}

#diag_data #db_value{
    font-size: 32px;
}

/* Updater */
#updater_title #box_title{
    font-size: 35px;
}

QPlainTextEdit{
    font-size: 24px;
}

QProgressBar{
    border: 1px solid #6E6E6E;
    border-radius: 5px;
    background: #fff;
}

QProgressBar::chunk:horizontal {
    background: #E7C245;
}

ProgressItem #xsmall_text{
    border: 3px solid #fff;
    border-radius: 5px;
}
